@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.input_form{
  color: black;
  padding: .25rem .50rem;
  border-radius: 4px;
}


.container_input_form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .75rem;
  text-align: end;
}

.button_form{
  padding: .25rem .50rem;
  border-radius: 6px;
  cursor: pointer;
  transition: ease .3s;
}

.button_form:hover{
  transform: scale(1.05);
}